.products {
    font-size: 39px;
    letter-spacing: 0.8px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 18px;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.products-grid > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.products-grid img {
    max-width: 80%; 
    height: auto; 
    object-fit: cover; 
}

.products-grid p {
    margin-top: 10px; 
    text-align: center; 
}

.productslink a:hover {
    color: #5CAB71;
}



@media (max-width: 868px) {
    .products {
        grid-template-columns: repeat(2, 1fr);  
    }
}

@media (max-width: 580px) {
    .products-grid {
        grid-template-columns: 1fr;  
    }
}