.Nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 13px 13px;
    border: 1.5px solid #427058;
    background-color: #e3ffee;
   
  }

  nav {
    display: flex;
    font-size: 12px;
    gap: 0px;
    margin-left: auto; 
  }

  nav div a {
    color: #7bbd91;
font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 13px;
    transition: background-color 0.3s ease;
  }

  nav div a:hover {
    color: #569072;
    border-radius: 5px;
  }

  nav div a.active {
    color: #569072;
  }

small {
color:#7bbd91;
   font-weight: bold;
   letter-spacing: 0.3px;
   font-size: 15px;
  }