.loyaltyapp  {
    text-align: center;
    color: #67BB5A;
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 18px;
    margin-top: 11px;
}

.buttons {
text-align: center;
margin-top: 10px;
margin-left: 5px;

}

button {
    padding: 7.5px 9px;
    font-size: 15px;
    background-color: white;
    border: 2px solid green;
    border-radius: 7px;
    color: #67BB5A;
    margin-right: 9px;
    font-weight: 600;
}

button:hover {
background-color: #BEE6CE;
color: white;
cursor:pointer;
}